	<footer>
		<div class="well well-sm">
			<a href="{{url('about')}}">About</a>
			<a href="{{url('contact')}}">Contact</a>
			<a href="{{url('admin')}}">Administration</a>
		</div>
	</footer>

	</div>
	<script src="{{app.request.baseUrl}}/src/js/jquery-1.11.0.min.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/bootstrap.min.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/codemirror.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/ZeroClipboard.min.js"></script>
	<script src="{{app.request.baseUrl}}/src/js/script.js"></script>
</body>
</html>