<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
    <link rel="stylesheet" href="{{app.request.basepath}}/src/css/yellow-text.css">
    <link rel="stylesheet" href="{{app.request.basepath}}/src/css/codemirror.css">
</head>
<body>
	{% include 'inc/message.twig' %}
	<header class="head-nav">
		<section class="wrap">
			{{include('inc/menu.twig')}}
		</section>
	</header>
	
	
