{{include('inc/header.twig')}}

<h2>{{student.first_name}} {{student.last_name}}</h2>

{% if quotes|length > 0 %}
    <ul>
        {% for quote in quotes %}
            <li>"{{quote.content}}"</li>
        {% endfor %}
    </ul>
{% else %}
    No quote
{% endif %}

{{include('inc/footer.twig')}}
