<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{url('home')}}">Hetic Snippet</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{url('addsnippet')}}">Add Snippet</a></li>
      <li><a href="{{url('category', {category:'php'})}}">Category</a></li>
      <li><a href="{{url('about')}}">About</a></li>
      <li><a href="{{url('contact')}}">Contact</a></li>
    </ul>
  </div>

</div>