<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Silex</title>
	<link href="{{app.request.basePath}}/src/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{app.request.basePath}}/src/css/default.css"> 
  <!-- Highlight.js -->

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{url('home')}}">Hetic Snippets</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{url('formulaire_post')}}">Ajout de Snippets</a></li>
      <li><a href="{{url('contact_post')}}">Contact</a></li>
      <li class=""><a href="{{url('about')}}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{url('category',{category:"css"})}}">CSS</a></li>
      <li><a href="{{url('category',{category:"html"})}}">HTML</a></li>
      <li><a href="{{url('category',{category:"javascript"})}}">JavaScript</a></li>
      <li><a href="{{url('category',{category:"php"})}}">PHP</a></li>
    </ul>
  </div>
</div>
</head>
<body>



