<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

	<title>Snippets</title>

	<!-- Bootstrap core CSS -->
	<link href="{{app.request.basepath}}/src/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{app.request.basepath}}/src/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->
  </head>
	<body>
		<!-- Header -->
		<div class="navbar-wrapper">
		  <div class="container">

			<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="{{url("home")}}">&lsaquo;Snippets&rsaquo;</a>
				</div>
				<div class="navbar-collapse collapse">
				  <ul class="nav navbar-nav">
					<li><a href="{{url('home')}}">Home</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
					  <ul class="dropdown-menu">
					  	{% for categorie in categories %}
					  		<li><a href="{{url('category',{category:categorie.slug, page:1})}}">{{categorie.title}} - {{categorie.count}}</a></li>
						{% endfor %}
					  </ul>
					</li>
					{% if app.session.get('Connected') %}{% else %}<li><a href="{{url('sign-in')}}">Sign In</a></li>{% endif %}
					{% if app.session.get('Connected') %}{% else %}<li><a href="{{url('connect')}}">Connect</a></li>{% endif %}
					{% if app.session.get('Connected') %}<li><a href="{{url('new-snippet')}}">New snippet</a></li>{% endif %}
					{% if app.session.get('Connected') %}<li><a href="{{url('account')}}">Account</a></li>{% endif %}
					{% if app.session.get('Connected') %}<li><a href="{{url('logout')}}">Logout</a></li>{% endif %}
					<li><a href="{{url('contact')}}">Contact</a></li>
					<li><a href="{{url('about')}}">About</a></li>
				  </ul>
				</div>
			  </div>
			</div>

		  </div>
		</div>
		<!-- /Header -->

		<!-- Carousel
	================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
	  </ol>
	  <div class="carousel-inner">
		<div class="item active">
		  <div class="container">
			<div class="carousel-caption">
			  <h1>Weekly featured category</h1>
			  <p>PHP is the featured category this week, take a look !</p>
			  <p><a class="btn btn-lg btn-primary" href="{{url('category',{category:'php',page:1})}}" role="button">See snippets</a></p>
			</div>
		  </div>
		</div>
		<div class="item">
		  <div class="container">
			<div class="carousel-caption second-caption">
			  <h1>About.</h1>
			  <p>Read about the website and authors.</p>
			  <p><a class="btn btn-lg btn-primary" href="{{url('about')}}" role="button">Learn more</a></p>
			</div>
		  </div>
		</div>
	  </div>
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div><!-- /.carousel -->