{% for snippet in snippets %}
	<div class="circuit">
		<h3>{{snippet.nom}}</h3>
		<p>Console : <a href="{{url('category',{category:snippet.category_slug})}}">{{snippet.category_title}}</a></p>
		<img src="{{snippet.img}}" alt="{{snippet.nom}}"/>
	</div>
{% endfor %}