<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	 <link rel="stylesheet" type="text/css" href="{{app.request.baseUrl}}/src/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="{{app.request.baseUrl}}/src/css/style.css">
	 <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Share your Recipes</a></h1>
			
		</div>
		<div id="menu">
			<ul>
				<li><a href="{{url('home')}}"><button>Home</button></a></li>
				<li><a href="{{url('allrecipes')}}"><button>All the Recipies</button></a></li>
				<li><a href="{{url('suggest')}}"><button>Add a recipe</button></a></li>
				<li><a href="{{url('about')}}"><button>About</button></a></li>
				<li><a href="{{url('contact')}}"><button>Contact</button></a></li>
			</ul>

		</div>
	</div>
	<div id="banner" class="container">
		<div class="image-style"><img src="{{app.request.baseUrl}}/src/images/img03.jpg" width="940" height="320" alt="" /></div>
	</div>
</div> <!-- FIN NAV -->


  

		
	