<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	 <link rel="stylesheet" type="text/css" href="{{app.request.baseUrl}}/src/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="{{app.request.baseUrl}}/src/css/style.css">
	 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="header">
	</div>
	<div class="container">
		<div id="header_container">
			<div id="cat_and_title">
				<h1>			
					<img id="imgcat" src="{{app.request.basepath}}/src/img/cat_blue.svg">
					<span id="title">Swigitty Swat, this is a cat.</span>
				</h1>
			</div>
			<div id="nav">
				<ul id="nav_ul">
					<li><a href="{{url('home')}}"><button type="button" class="btn btn-default">Home</button></a></li>
					<li><a href="{{url('categories')}}"><button type="button" class="btn btn-default">Cats</button></a></li>
					<li><a href="{{url('suggest')}}"><button type="button" class="btn btn-default">Suggest</button></a></li>
					<li><a href="{{url('about')}}"><button type="button" class="btn btn-default">About</button></a></li>
					<li><a href="{{url('contact')}}"><button type="button" class="btn btn-default">Contact</button></a></li>
				</ul>
			</div> <!-- FIN NAV -->


  

		
	