<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="{{url('category',{category:'web'})}}">Web</a></dd>
  <dd><a href="{{url('category',{category:'inspiration'})}}">Inspiration</a></dd>
  <dd><a href="{{url('category',{category:'icons'})}}">Icons</a></dd>
  <dd><a href="{{url('category',{category:'typography'})}}">Typograhpy</a></dd>
  <dd><a href="{{url('category',{category:'parallax'})}}">Parallax</a></dd>
  <dd><a href="{{url('category',{category:'css'})}}">CSS</a></dd>
</dl>