<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if foo is defined %}{{title}}{% else %}Parole d'héticien{% endif %}</title>
</head>
<body>
    <h1><a href="{{url('home')}}">Parole d'héticien</a></h1>
    <ul>
        <li><a href="{{url('home')}}">Home</a></li>
        <li>
            Add
            <ul>
                <li><a href="{{url('add-quote')}}">Quote</a></li>
            </ul>
        </li>
        <li>
            Promotions
            <ul>
                <li><a href="{{url('promotion',{slug:'p2015'})}}">P2015</a></li>
                <li><a href="{{url('promotion',{slug:'p2016'})}}">P2016</a></li>
                <li><a href="{{url('promotion',{slug:'p2017'})}}">P2017</a></li>
            </ul>
        </li>
    </ul>
