<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
	<link href="{{app.request.basepath}}/src/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="reset.css"> -->
	<link rel="stylesheet" href="{{app.request.basepath}}/style.css">
</head>

<body>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HETIC SNIPPETS</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">HOME</a></li>
      <li><a href="{{url('about')}}">ABOUT</a></li>
      <li><a href="{{url('list')}}">CATEGORIES</a></li>
      <li><a href="{{url('contact')}}">CONTACT</a></li>
    </ul>
  </div>
</div>

	