<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SILEX DENIS DOH</title>
	<link rel="stylesheet" href="{{app.request.basePath}}/src/css/style.css">
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/fonts.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<div class="navbar navbar-default">
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{url('home')}}">Home</a></li>
      <li><a href="{{url('categories')}}">Catégories</a></li>
      <li><a href="{{url('submit')}}">Soumettre</a></li>
      <li><a href="{{url('about')}}">About</a></li>
      <li><a href="{{url('contact')}}">Contact</a></li>
    </ul>
  </div>
</div>

<body>
	