

<script type="text/javascript" src="{{app.request.basepath}}/src/js/codemirror.js"></script>
<script type="text/javascript" src="{{app.request.basepath}}/src/js/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="{{app.request.basepath}}/src/js/mode/php/php.js"></script>
<script type="text/javascript" src="{{app.request.basepath}}/src/js/mode/htmlembedded/htmlembedded.js"></script>
<script type="text/javascript" src="{{app.request.basepath}}/src/js/mode/css/css.js"></script>
<script type="text/javascript" src="{{app.request.basepath}}/src/js/snippetMirror.js"></script>

</div>
</body>
</html>