{{include('inc/header.twig')}}
{{include('inc/menu.twig')}}
{{include('inc/message.twig')}}

<div class="admin row">
  {{include('admin/menu.twig')}}
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        {{include('inc/snippets.twig')}}
      </div>
    </div>
  </div>
</div>

{{include('inc/footer.twig')}}