<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hetic Snippets</title>

	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/bootstrap.css">
</head>
<body>
<div class="container">
<div class="page-header">
  
 	<div class="text-center">
		<h1><a href="{{url('home')}}">HETIC SNIPPETS</a></h1>
	</div>

	<ul class="nav nav-tabs">
			<li ><a href="{{url('categories')}}">categories</a></li>
			<li ><a href="{{url('contact')}}">contact</a></li>
			<li ><a href="{{url('suggest')}}">suggest</a></li>
			<li ><a href="{{url('about')}}">about</a></li>
	</ul>




